.accordion-button {
    transition: background-color 0.3s ease;
    background-color: transparent;
}

.accordion-button:hover {
    background-color: lightgray;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0 rgb(0, 0, 0) !important;
}

.nav-link {
    color: gray;
}

.nav-link.active {
    color: black;
}

.nav-link:hover {
    color: black;
}

#search_bar:focus {
    box-shadow: 0 0 0 0 rgb(0, 0, 0) !important;
}

#search_text {
    height: 15px;
    margin-right: 20px;
    margin-left: 10px;
}

#search_button {
    display: inline-block;
    height: 20px;
    width: 70px !important;
    max-height: 30px !important;
    padding: 0;
}
