* {
    margin: auto;
    flex-direction: column;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#SelectBox {
    padding: 10px;
}

#SelectBox select {
    padding: 5px;
}

#big {
    flex-direction: row;
    margin-bottom: 5%;
}

.DelButton {
    margin-left: 1%;
}

.liEl {
    margin: 2%;
}

.category_selection {
    margin-top: 1%;
}

#guidanceContainer {
    border-color: lightslategrey;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    width:50%;
    height: 50%;
    margin-top: 2%;
    margin: 1%;
    padding: 1%;
}