<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON Generator</title>
    <link rel="stylesheet" href="\static\style.css">
</head>
<body>

    <header class="header">
        <img id="logo" src="..\images\moochub-logo.png" alt="MOOChub logo">
        <h1>Metadata Tool</h1>
    </header>

    <div id="main-container">
        <nav class="navigation">
            {% for line in documentation %}
                {{ line }}
            {% endfor %}
        </nav>

        <div id="sub-main-container">
            <div class="columns" id="column1">
                <div class="row-1">
                    <label for="select-framework">Select a Framework</label>
                    <select id="select-framework" name="framework" onchange="create_category_selection(this.value)">
                        <option value="def"> -- Select Framework -- </option>
                        {% for file in files %}
                            <option value="{{ file }}">{{ file }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row-2">
                    <h2 id="headline-framework"></h2>
                    <ul id="framework-structure">
                    </ul>
                </div>
            </div>
            <div class="columns" id="column2">
                <div class="row-1">
                    <button id="write_json_button" disabled="true" onclick="write_json()">Write JSON</button>
                    <button id="reset_button" onclick="reset()">Reset</button>
                </div>
                <div class="row-2">
                    <h2>Selected Entries</h2>
                </div>
                <div id="list-selected-values-container">
                </div>
            </div>
        </div>
    </div>

<script src="../static/script.js"></script>
</body>
</html>